body {
    background: #ffffff; 
    height: 100vh; 
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-top: 0%;
    
    align-items: center;
    position: relative;
    transition: background-color 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;

}
body.loaded {
    opacity: 1;
  }
body::before {
    content: "";
    position: fixed; 
    padding-top: 0%;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle,  
        rgba(255, 255, 255, 0.4) -10%,  
        rgba(0, 0, 0, 0.2) 40%
        
    );
    mix-blend-mode: overlay;
    z-index: -1;
    pointer-events: none;
}

* {
    box-sizing: border-box;
  }
  :root {
    
    --text-color: hsl(0, 0%, 100%);
  }
  body {
    margin: 0;
    box-shadow: inset 0  -30px 100px rgba(0,0,0,0.5);

  }
  .wrapper {
    display: grid;
    place-content: center;
    background-color: var(--background-color);
    min-height: 100vh;
    font-family: "Oswald", sans-serif;
    font-size: clamp(1.5rem, 9rem + 18vw, 7rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
    position: absolute;
    left: 100px;
    bottom: 340px;
    
    
  }
  
  .wrapper > div {
    grid-area: 1/1/-1/-1;

  }
  .top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  .bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background: linear-gradient(177deg, black 43%, var(--text-color) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
  }
  
  header {
    height: 300px;
    width: 100%;
    box-shadow: inset 0  -30px 100px rgba(235, 232, 232, 0.296);
    background-color: black;
    z-index: 2;


  }

  .logo {
    position: absolute;
    top: 45px;
    right: 00px;
    height: 700px;
    z-index: 1;
    
  }

  .logoo {
    position: absolute;
    top: 72px;
    right: 245px;
    height: 228px;
    z-index: 3;
    
    
  }
  footer {
    font-family: system-ui;
    font-size: medium;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 530px;
    padding-left: 100px;
  }

.content {
    color: black;
    font-family: system-ui;
    font-size: 2rem;
    top: 340px;
    left: 200px
}